.nav {
  background-color: #333;
  color: white;
  padding: 0.7rem;
  font-size: large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  padding-left: 6.25rem;
  padding-right: 6.25rem;
}

@media screen and (max-width: 480px) {
  .nav {
    padding-left: 0px;
  }
}

.navButtons:hover {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 0.15s;
}

#profilePhotoBoxOutside {
  padding: 4px;
  position: relative;
  background: linear-gradient(to right, purple, red);

  transition: 0.3s;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profilePhotoBoxOutside:hover {
  border-radius: 20%;
}

#profilePhotoBoxOutside:hover .profilePhotoBoxInside {
  border-radius: 20%;
  transition: 0.3s;
}

.profilePhotoBoxInside {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s;
}
